USE [master]
GO
/****** Object:  Database [Barzola]    Script Date: 26/06/2019 21:39:35 ******/
CREATE DATABASE [Barzola]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Barzola', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Barzola.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Barzola_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Barzola_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Barzola].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Barzola]
GO
USE [Barzola]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMESA] [bigint] NOT NULL,
	[fecha] [datetime] NULL,
	[idmesero] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLATOSXPED]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLATOSXPED](
	[IDPEDIDO] [bigint] NOT NULL,
	[IDPLATO] [bigint] NOT NULL,
	[CANTIDAD] [bigint] NOT NULL,
	[Entregado] [bit] NULL,
	[Estado] [bit] NULL,
	[precio] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[PUESTO] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[CONTRASENA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESA]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMESERO] [bigint] NOT NULL,
	[OCUPADO] [bit] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDMESERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VwCantPlatos]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VwCantPlatos] as
select em.NOMBRE+','+em.APELLIDO as NomApe,  COUNT(m.idmesero) as Cant 
from PEDIDOS as p
inner join PLATOSXPED as pp on pp.IDPEDIDO=p.ID
inner join MESA as m on p.IDMESA=m.ID
inner join EMPLEADO as em on em.ID=m.IDMESERO
group by m.IDMESERO,em.NOMBRE,em.APELLIDO
GO
/****** Object:  Table [dbo].[PLATO]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLATO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[TIPO] [bigint] NOT NULL,
	[PRECIO] [money] NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EstadisticaPlato]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[EstadisticaPlato] as
select pl.nombre, isnull (sum (pp.CANTIDAD),0) as cant from PLATO as pl
left join PLATOSXPED as pp on pp.IDPLATO=pl.ID
left join PEDIDOS as pe on pe.ID=pp.IDPEDIDO

group by pl.nombre
GO
/****** Object:  View [dbo].[EstadisticaEmpleados]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[EstadisticaEmpleados] as
select e.NOMBRE+','+e.APELLIDO as nomape,
count (px.IDPEDIDO) as cant
 from EMPLEADO as e
left join PEDIDOS as pe on pe.idmesero =e.id
left join PLATOSXPED as px on px.IDPEDIDO =pe.id
where e.PUESTO like 'mesero'
group by e.NOMBRE,e.APELLIDO
GO
/****** Object:  Table [dbo].[BEBIDASXPEDIDO]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BEBIDASXPEDIDO](
	[IDPEDIDO] [bigint] NOT NULL,
	[IDBEBIDA] [bigint] NOT NULL,
	[CANTIDAD] [bigint] NOT NULL,
	[estado] [bit] NULL,
	[Entregado] [bit] NULL,
	[precio] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EstadisticaRecaudacionMes]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[EstadisticaRecaudacionMes] as
select distinct DATEPART(day,fecha) as dia,
isnull((select sum ( pl.CANTIDAD*pl.precio) from PLATOSXPED as pl
inner join PEDIDOS as p on p.ID=pl.IDPEDIDO
where DATEPART(day,p.fecha)=DATEPART(day,pe.fecha)
)+
(select sum ( be.CANTIDAD*be.precio) from BEBIDASXPEDIDO as be
inner join PEDIDOS as p on p.ID=be.IDPEDIDO
where DATEPART(day,p.fecha)=DATEPART(day,pe.fecha)
),0) as rec

 from PEDIDOS as pe
where 
DATEPART(MONTH,fecha) = DATEPART(MONTH,getdate())
GO
/****** Object:  View [dbo].[vw_pedidos]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_pedidos] as
select p.id,p.idmesa,p.estado,pp.idplato,pp.cantidad as cantPl from pedidos as p
--inner join bebidasxpedido as bp on p.id=bp.idpedido
inner join platosxped as pp on pp.idpedido=p.id
GO
/****** Object:  Table [dbo].[TIPO_PLATO]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PLATO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_platos]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[view_platos]
as select p.id,p.NOMBRE,p.PRECIO,p.TIPO as idtipo,tp.NOMBRE as Tipo,p.ESTADO,p.DESCRIPCION,p.cantidad from PLATO as p
inner join TIPO_PLATO as tp on tp.ID=p.TIPO
GO
/****** Object:  Table [dbo].[VAJILLAXPLATO]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAJILLAXPLATO](
	[IDVAJILLA] [int] NOT NULL,
	[IDPLATO] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVAJILLA] ASC,
	[IDPLATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAJILLA]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAJILLA](
	[ID] [int] IDENTITY(10,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[CANTIDAD] [int] NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_vajillaXplato]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_vajillaXplato]
as select vp.IDPLATO,v.NOMBRE  from VAJILLAXPLATO as vp
inner join VAJILLA as v on v.ID=vp.IDVAJILLA
GO
/****** Object:  View [dbo].[View_VajillaXPla]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[View_VajillaXPla]
as select  p.NOMBRE as nombrePla,v.NOMBRE as nombrevaj, p.ID as idpla,v.ID as idvaj from vajillaxplato as vp
inner join VAJILLA as v on vp.IDVAJILLA=v.ID
inner join PLATO as p on p.ID=vp.IDPLATO
GO
/****** Object:  Table [dbo].[BEBIDA]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BEBIDA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMARCA] [bigint] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[PRECIO] [money] NOT NULL,
	[COPA] [bit] NOT NULL,
	[CANTIDAD] [int] NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDMARCA] ASC,
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_marca]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[View_marca]
as select b.NOMBRE as nombre_bebida, b.PRECIO,
b.ID, b.ESTADO,b.DESCRIPCION,b.COPA,b.CANTIDAD,m.NOMBRE as marca, m.ID as marcaid from BEBIDA as b
inner join MARCA as M on m.ID=b.IDMARCA
GO
/****** Object:  View [dbo].[vw_mesero]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_mesero] as
SELECT id, nombre + ',' + apellido AS Nombre, puesto,dni,estado,usuario,contrasena 
FROM empleado 
GO
/****** Object:  View [dbo].[vw_mesas]    Script Date: 26/06/2019 21:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_mesas] as
select m.id as idmesa, em.nombre +', '+ em.apellido as nom_ap , em.id as idemp,
m.estado,m.ocupado from mesa as m 
inner join empleado as em on m.idmesero=em.id
GO
SET IDENTITY_INSERT [dbo].[BEBIDA] ON 
GO
INSERT [dbo].[BEBIDA] ([ID], [IDMARCA], [NOMBRE], [DESCRIPCION], [PRECIO], [COPA], [CANTIDAD], [ESTADO]) VALUES (1, 5, N'AGUA SABORIZADA', N'BOTELLA DE 600ML', 60.0000, 0, 0, 0)
GO
INSERT [dbo].[BEBIDA] ([ID], [IDMARCA], [NOMBRE], [DESCRIPCION], [PRECIO], [COPA], [CANTIDAD], [ESTADO]) VALUES (2, 3, N'Gaseosa lima', N'LATA DE 250ML', 40.0000, 0, 50, 0)
GO
INSERT [dbo].[BEBIDA] ([ID], [IDMARCA], [NOMBRE], [DESCRIPCION], [PRECIO], [COPA], [CANTIDAD], [ESTADO]) VALUES (3, 1, N'GASEOSA NARANJA', N'BOTELLA DE 600ML', 645.0000, 0, 49, 1)
GO
SET IDENTITY_INSERT [dbo].[BEBIDA] OFF
GO
INSERT [dbo].[BEBIDASXPEDIDO] ([IDPEDIDO], [IDBEBIDA], [CANTIDAD], [estado], [Entregado], [precio]) VALUES (117, 9, 2, 0, 0, 50.0000)
GO
INSERT [dbo].[BEBIDASXPEDIDO] ([IDPEDIDO], [IDBEBIDA], [CANTIDAD], [estado], [Entregado], [precio]) VALUES (118, 9, 2, 0, 0, 50.0000)
GO
INSERT [dbo].[BEBIDASXPEDIDO] ([IDPEDIDO], [IDBEBIDA], [CANTIDAD], [estado], [Entregado], [precio]) VALUES (123, 5, 1, 0, 0, 22.0000)
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] ON 
GO
INSERT [dbo].[EMPLEADO] ([ID], [NOMBRE], [APELLIDO], [PUESTO], [DNI], [ESTADO], [USUARIO], [CONTRASENA]) VALUES (1, N'santiago', N'barzola', N'administrativo', 40870363, 1, N'saney', N'1234')
GO
INSERT [dbo].[EMPLEADO] ([ID], [NOMBRE], [APELLIDO], [PUESTO], [DNI], [ESTADO], [USUARIO], [CONTRASENA]) VALUES (2, N'Patricia', N'Eymann', N'Mesero', 22675746, 0, N'patriEy', N'12345')
GO
INSERT [dbo].[EMPLEADO] ([ID], [NOMBRE], [APELLIDO], [PUESTO], [DNI], [ESTADO], [USUARIO], [CONTRASENA]) VALUES (4, N'Facundo', N'Gonzalez', N'Mesero', 4567879, 0, N'fafuf', N'0000')
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[MARCA] ON 
GO
INSERT [dbo].[MARCA] ([ID], [NOMBRE], [ESTADO]) VALUES (1, N'Villa del sur', 1)
GO
INSERT [dbo].[MARCA] ([ID], [NOMBRE], [ESTADO]) VALUES (2, N'Pepsi', 1)
GO
INSERT [dbo].[MARCA] ([ID], [NOMBRE], [ESTADO]) VALUES (3, N'Coca Cola', 1)
GO
SET IDENTITY_INSERT [dbo].[MARCA] OFF
GO
SET IDENTITY_INSERT [dbo].[MESA] ON 
GO
INSERT [dbo].[MESA] ([ID], [IDMESERO], [OCUPADO], [ESTADO]) VALUES (1, 5, 1, 1)
GO
INSERT [dbo].[MESA] ([ID], [IDMESERO], [OCUPADO], [ESTADO]) VALUES (2, 6, 0, 1)
GO
INSERT [dbo].[MESA] ([ID], [IDMESERO], [OCUPADO], [ESTADO]) VALUES (3, 6, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[MESA] OFF
GO
SET IDENTITY_INSERT [dbo].[PEDIDOS] ON 
GO
INSERT [dbo].[PEDIDOS] ([ID], [IDMESA], [fecha], [idmesero]) VALUES (114, 1, CAST(N'2019-06-19T00:00:00.000' AS DateTime), 5)
GO
INSERT [dbo].[PEDIDOS] ([ID], [IDMESA], [fecha], [idmesero]) VALUES (115, 1, CAST(N'2019-06-19T00:00:00.000' AS DateTime), 5)
GO
INSERT [dbo].[PEDIDOS] ([ID], [IDMESA], [fecha], [idmesero]) VALUES (116, 1, CAST(N'2019-06-19T00:00:00.000' AS DateTime), 5)
GO
SET IDENTITY_INSERT [dbo].[PEDIDOS] OFF
GO
SET IDENTITY_INSERT [dbo].[PLATO] ON 
GO
INSERT [dbo].[PLATO] ([ID], [NOMBRE], [DESCRIPCION], [TIPO], [PRECIO], [ESTADO], [cantidad]) VALUES (1, N'Panqueques', N'CON DULCE', 1, 50.0000, 0, 10)
GO
INSERT [dbo].[PLATO] ([ID], [NOMBRE], [DESCRIPCION], [TIPO], [PRECIO], [ESTADO], [cantidad]) VALUES (2, N'Flan', N'CON DULCE DE LECHE O CREMA', 1, 110.0000, 1, 8)
GO
INSERT [dbo].[PLATO] ([ID], [NOMBRE], [DESCRIPCION], [TIPO], [PRECIO], [ESTADO], [cantidad]) VALUES (3, N'Pizza de muzzarella', N'MUZZARELLA', 2, 280.0000, 1, 8)
GO
SET IDENTITY_INSERT [dbo].[PLATO] OFF
GO
INSERT [dbo].[PLATOSXPED] ([IDPEDIDO], [IDPLATO], [CANTIDAD], [Entregado], [Estado], [precio]) VALUES (114, 10, 1, 0, 0, 300.0000)
GO
INSERT [dbo].[PLATOSXPED] ([IDPEDIDO], [IDPLATO], [CANTIDAD], [Entregado], [Estado], [precio]) VALUES (115, 10, 1, 0, 0, 300.0000)
GO
INSERT [dbo].[PLATOSXPED] ([IDPEDIDO], [IDPLATO], [CANTIDAD], [Entregado], [Estado], [precio]) VALUES (116, 12, 1, 0, 0, 400.0000)
GO
SET IDENTITY_INSERT [dbo].[TIPO_PLATO] ON 
GO
INSERT [dbo].[TIPO_PLATO] ([ID], [NOMBRE], [estado]) VALUES (1, N'Postre', 1)
GO
INSERT [dbo].[TIPO_PLATO] ([ID], [NOMBRE], [estado]) VALUES (2, N'Principal', 1)
GO
INSERT [dbo].[TIPO_PLATO] ([ID], [NOMBRE], [estado]) VALUES (3, N'Entrada', 1)
GO
SET IDENTITY_INSERT [dbo].[TIPO_PLATO] OFF
GO
SET IDENTITY_INSERT [dbo].[VAJILLA] ON 
GO
INSERT [dbo].[VAJILLA] ([ID], [NOMBRE], [CANTIDAD], [ESTADO]) VALUES (10, N'Cuchillo', 21, 1)
GO
INSERT [dbo].[VAJILLA] ([ID], [NOMBRE], [CANTIDAD], [ESTADO]) VALUES (11, N'Cuchara', 100, 1)
GO
INSERT [dbo].[VAJILLA] ([ID], [NOMBRE], [CANTIDAD], [ESTADO]) VALUES (12, N'Tenedor', 4, 1)
GO
SET IDENTITY_INSERT [dbo].[VAJILLA] OFF
GO
INSERT [dbo].[VAJILLAXPLATO] ([IDVAJILLA], [IDPLATO]) VALUES (10, 3)
GO
INSERT [dbo].[VAJILLAXPLATO] ([IDVAJILLA], [IDPLATO]) VALUES (10, 6)
GO
INSERT [dbo].[VAJILLAXPLATO] ([IDVAJILLA], [IDPLATO]) VALUES (10, 10)
GO
/****** Object:  Index [UQ__BEBIDA__3214EC26E041C359]    Script Date: 26/06/2019 21:39:37 ******/
ALTER TABLE [dbo].[BEBIDA] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__EMPLEADO__C035B8DDBEE8EABD]    Script Date: 26/06/2019 21:39:37 ******/
ALTER TABLE [dbo].[EMPLEADO] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MARCA__3214EC2642843C03]    Script Date: 26/06/2019 21:39:37 ******/
ALTER TABLE [dbo].[MARCA] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MESA__3214EC2630F086C3]    Script Date: 26/06/2019 21:39:37 ******/
ALTER TABLE [dbo].[MESA] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PLATO__3214EC2607A8528A]    Script Date: 26/06/2019 21:39:37 ******/
ALTER TABLE [dbo].[PLATO] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VAJILLA__B21D0AB97585DCCB]    Script Date: 26/06/2019 21:39:37 ******/
ALTER TABLE [dbo].[VAJILLA] ADD UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TIPO_PLATO] ADD  DEFAULT ('') FOR [estado]
GO
ALTER TABLE [dbo].[BEBIDA]  WITH CHECK ADD  CONSTRAINT [FK_BEBIDA] FOREIGN KEY([IDMARCA])
REFERENCES [dbo].[MARCA] ([ID])
GO
ALTER TABLE [dbo].[BEBIDA] CHECK CONSTRAINT [FK_BEBIDA]
GO
ALTER TABLE [dbo].[BEBIDASXPEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_BEBIDASXPE] FOREIGN KEY([IDPEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID])
GO
ALTER TABLE [dbo].[BEBIDASXPEDIDO] CHECK CONSTRAINT [FK_BEBIDASXPE]
GO
ALTER TABLE [dbo].[BEBIDASXPEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_BEBIDASXPEDOS] FOREIGN KEY([IDBEBIDA])
REFERENCES [dbo].[BEBIDA] ([ID])
GO
ALTER TABLE [dbo].[BEBIDASXPEDIDO] CHECK CONSTRAINT [FK_BEBIDASXPEDOS]
GO
ALTER TABLE [dbo].[MESA]  WITH CHECK ADD  CONSTRAINT [FK_IDMESERO] FOREIGN KEY([IDMESERO])
REFERENCES [dbo].[EMPLEADO] ([ID])
GO
ALTER TABLE [dbo].[MESA] CHECK CONSTRAINT [FK_IDMESERO]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_IDMESA] FOREIGN KEY([IDMESA])
REFERENCES [dbo].[MESA] ([ID])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_IDMESA]
GO
ALTER TABLE [dbo].[PLATO]  WITH CHECK ADD  CONSTRAINT [FK_PLATO] FOREIGN KEY([TIPO])
REFERENCES [dbo].[TIPO_PLATO] ([ID])
GO
ALTER TABLE [dbo].[PLATO] CHECK CONSTRAINT [FK_PLATO]
GO
ALTER TABLE [dbo].[PLATOSXPED]  WITH CHECK ADD  CONSTRAINT [FK_PLATOXPED] FOREIGN KEY([IDPLATO])
REFERENCES [dbo].[PLATO] ([ID])
GO
ALTER TABLE [dbo].[PLATOSXPED] CHECK CONSTRAINT [FK_PLATOXPED]
GO
ALTER TABLE [dbo].[PLATOSXPED]  WITH CHECK ADD  CONSTRAINT [FK_PLAXPE] FOREIGN KEY([IDPEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID])
GO
ALTER TABLE [dbo].[PLATOSXPED] CHECK CONSTRAINT [FK_PLAXPE]
GO
ALTER TABLE [dbo].[VAJILLAXPLATO]  WITH CHECK ADD  CONSTRAINT [FK_VAJILLA] FOREIGN KEY([IDVAJILLA])
REFERENCES [dbo].[VAJILLA] ([ID])
GO
ALTER TABLE [dbo].[VAJILLAXPLATO] CHECK CONSTRAINT [FK_VAJILLA]
GO
ALTER TABLE [dbo].[VAJILLAXPLATO]  WITH CHECK ADD  CONSTRAINT [FK_VAXPLA] FOREIGN KEY([IDPLATO])
REFERENCES [dbo].[PLATO] ([ID])
GO
ALTER TABLE [dbo].[VAJILLAXPLATO] CHECK CONSTRAINT [FK_VAXPLA]
GO
/****** Object:  StoredProcedure [dbo].[AgegarBebidaPedido]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AgegarBebidaPedido]
@idmesa bigint , @idbebida bigint , @cant bigint,
@idmesero bigint 
as 
insert into pedidos(idmesa,idmesero,fecha) values (@idmesa,@idmesero,getdate())
insert into BEBIDASXPEDIDO(idpedido,IDBEBIDA,CANTIDAD,estado,Entregado,precio) 
values ((select max (id) from PEDIDOS where IDMESA=@idmesa),
@idbebida,@cant,1,0,(select PRECIO from BEBIDA where id=@idbebida))
GO
/****** Object:  StoredProcedure [dbo].[AgregarPlatoPedido]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AgregarPlatoPedido]
@idplato bigint , @idmesa bigint,@cant bigint, @idmesero bigint,
@precio money
as 

insert into pedidos (idmesa,idmesero,fecha)
values (@idmesa,@idmesero,getdate ())
insert into platosxped (idpedido,idplato,cantidad,entregado,estado,precio)
values ((select max (id) from pedidos where idmesa=@idmesa),
 @idplato,@cant,0,1,@precio)
GO
/****** Object:  StoredProcedure [dbo].[BebidasxMarca]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[BebidasxMarca]
@idmarca bigint as 
select NOMBRE + '    $'+ CAST(PRECIO AS varchar) as nombre,ID,DESCRIPCION from bebida where IDMARCA=@idmarca and ESTADO=1
GO
/****** Object:  StoredProcedure [dbo].[bebidaxmesa]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[bebidaxmesa]
@idmesa bigint as

select p.id, b.NOMBRE,b.DESCRIPCION,b.PRECIO,bp.CANTIDAD,bp.Entregado  from pedidos as p
inner join BEBIDASXPEDIDO as bp on p.ID=bp.IDPEDIDO
inner join BEBIDA as b on b.ID=bp.IDBEBIDA
where p.idmesa=@idmesa and bp.estado=1
GO
/****** Object:  StoredProcedure [dbo].[descripcionBebida]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[descripcionBebida]
@idbebida bigint as 
select DESCRIPCION from BEBIDA where ID=@idbebida
GO
/****** Object:  StoredProcedure [dbo].[idmesero]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[idmesero] 
@fecha datetime ,
@idMe int  ,
@idM int  as 

update PEDIDOS set fecha=@fecha where id>@idMe and id<@idM
GO
/****** Object:  StoredProcedure [dbo].[platoxmesa]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[platoxmesa]
@idmesa bigint as

select p.id,pp.cantidad,pl.nombre,pl.descripcion,pl.precio,p.idmesa,pp.Entregado from pedidos as p
inner join platosxped as pp on p.id=pp.idpedido
inner join plato as pl on pl.id=pp.idplato
where p.idmesa=@idmesa and pp.estado=1
GO
/****** Object:  StoredProcedure [dbo].[precioPlato]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[precioPlato]
@idplato bigint as 
select precio from plato as p
where p.id=@idplato
GO
/****** Object:  StoredProcedure [dbo].[sp_mesasXmesero]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_mesasXmesero]
@idmesero bigint  as 
select id,ocupado from mesa where idmesero=@idmesero and ESTADO=1
GO
/****** Object:  StoredProcedure [dbo].[sp_OcupadoMesa]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_OcupadoMesa]
@idmesa bigint,@ocupado bit as 
update MESA set OCUPADO=@ocupado where ID=@idmesa
GO
/****** Object:  StoredProcedure [dbo].[sp_platoXtipo]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_platoXtipo]
@idtipo bigint  as 
select id ,nombre,descripcion from plato  as pl
where tipo=@idtipo and pl.estado=1
GO
/****** Object:  StoredProcedure [dbo].[spBebidasPendientes]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spBebidasPendientes]
 @idmesa bigint as 
select p.id as idpedido, b.nombre, b.descripcion,b.precio,bp.cantidad from pedidos as p
inner join bebidasxpedido as bp on bp.idpedido=p.id
inner join bebida as b on b.id=bp.idbebida
where entregado=0 and p.idmesa=@idmesa and bp.estado=1
GO
/****** Object:  StoredProcedure [dbo].[SPcantidadBebidas]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPcantidadBebidas] 
 @idbebida bigint as 
select cantidad from bebida where id = @idbebida
GO
/****** Object:  StoredProcedure [dbo].[spCantidadMesas]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spCantidadMesas]
@idmesero bigint as 
select count (*) as cantidad from mesa as m
where m.idmesero=@idmesero and estado=1
GO
/****** Object:  StoredProcedure [dbo].[SPcantidadPa]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SPcantidadPa]
 @idplato bigint as 
select cantidad from plato where id = @idplato
GO
/****** Object:  StoredProcedure [dbo].[SPcobrar]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SPcobrar] 
@idMesa bigint as

select * from PEDIDOS as p
right join PLATOSXPED as pxp on pxp.IDPEDIDO=p.ID
right join BEBIDASXPEDIDO as b on b.IDPEDIDO=p.ID

where IDMESA=1
GO
/****** Object:  StoredProcedure [dbo].[SpCobrarBebidas]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SpCobrarBebidas]
 @idmesa bigint as 
select p.id as idpedido, b.nombre, b.descripcion,b.precio,bp.cantidad from pedidos as p
inner join bebidasxpedido as bp on bp.idpedido=p.id
inner join bebida as b on b.id=bp.idbebida
where p.idmesa=@idmesa and bp.estado=1
GO
/****** Object:  StoredProcedure [dbo].[SPcobrarMesa]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPcobrarMesa] 
@idmesa bigint as 


update BEBIDASXPEDIDO set estado=0 
where IDPEDIDO in (
select ID from PEDIDOS 
where IDMESA=@idmesa)

update PLATOSXPED set estado=0 
where IDPEDIDO in (
select ID from PEDIDOS 
where IDMESA=@idmesa)
GO
/****** Object:  StoredProcedure [dbo].[SpCobrarPlatos]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SpCobrarPlatos]
@idmesa bigint as 
select p.id, pl.nombre,pl.precio,pp.cantidad from pedidos as p
inner join platosxped as pp on p.id=pp.idpedido
inner join plato as pl on pl.id=pp.idplato
where p.idmesa=@idmesa and pp.estado=1
GO
/****** Object:  StoredProcedure [dbo].[spEntregado]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spEntregado]
@idpedido bigint as 
update platosxped set entregado =1 where idpedido=@idpedido
update bebidasxpedido set entregado =1 where idpedido=@idpedido
GO
/****** Object:  StoredProcedure [dbo].[spEstadisticaEmpleados]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spEstadisticaEmpleados] 
@desde date , @hasta date
as
select e.NOMBRE+','+e.APELLIDO as nomape,
(select count (*) from pedidos as pe 
left join PLATOSXPED as px on px.IDPEDIDO =pe.id
where pe.idmesero =e.id and pe.fecha between @desde 
and @hasta ) as cant
 from EMPLEADO as e
where e.PUESTO like 'mesero'  
order by cant desc
GO
/****** Object:  StoredProcedure [dbo].[spLogin]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spLogin] 
@usuario varchar (50), @contra varchar (10)as 
select id from empleado 
where usuario=@usuario and contrasena=@contra and estado=1
GO
/****** Object:  StoredProcedure [dbo].[spNombre]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spNombre]
@idempl bigint as
select nombre +','+apellido as nomApe from empleado
where id=@idempl 
GO
/****** Object:  StoredProcedure [dbo].[spPlatosPendientes]    Script Date: 26/06/2019 21:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spPlatosPendientes]
@idmesa bigint as 
select p.id, pl.nombre,pl.precio,pp.cantidad from pedidos as p
inner join platosxped as pp on p.id=pp.idpedido
inner join plato as pl on pl.id=pp.idplato
where entregado=0 and p.idmesa=@idmesa and pp.estado=1
GO
USE [master]
GO
