USE [master]
GO
/****** Object:  Database [Barzola]    Script Date: 12/06/2019 19:37:52 ******/
CREATE DATABASE [Barzola]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Barzola', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Barzola.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Barzola_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Barzola_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Barzola].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Barzola]
GO
USE [Barzola]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMESA] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLATOSXPED]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLATOSXPED](
	[IDPEDIDO] [bigint] NOT NULL,
	[IDPLATO] [bigint] NOT NULL,
	[CANTIDAD] [bigint] NOT NULL,
	[Entregado] [bit] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_pedidos]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_pedidos] as
select p.id,p.idmesa,p.estado,pp.idplato,pp.cantidad as cantPl from pedidos as p
--inner join bebidasxpedido as bp on p.id=bp.idpedido
inner join platosxped as pp on pp.idpedido=p.id
GO
/****** Object:  Table [dbo].[PLATO]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLATO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[TIPO] [bigint] NOT NULL,
	[PRECIO] [money] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PLATO]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PLATO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_platos]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[view_platos]
as select p.id,p.NOMBRE,p.PRECIO,p.TIPO as idtipo,tp.NOMBRE as Tipo,p.ESTADO,p.DESCRIPCION from PLATO as p
inner join TIPO_PLATO as tp on tp.ID=p.TIPO
GO
/****** Object:  Table [dbo].[VAJILLAXPLATO]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAJILLAXPLATO](
	[IDVAJILLA] [int] NOT NULL,
	[IDPLATO] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVAJILLA] ASC,
	[IDPLATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAJILLA]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAJILLA](
	[ID] [int] IDENTITY(10,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[CANTIDAD] [int] NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_vajillaXplato]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_vajillaXplato]
as select vp.IDPLATO,v.NOMBRE  from VAJILLAXPLATO as vp
inner join VAJILLA as v on v.ID=vp.IDVAJILLA
GO
/****** Object:  View [dbo].[View_VajillaXPla]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[View_VajillaXPla]
as select  p.NOMBRE as nombrePla,v.NOMBRE as nombrevaj, p.ID as idpla,v.ID as idvaj from vajillaxplato as vp
inner join VAJILLA as v on vp.IDVAJILLA=v.ID
inner join PLATO as p on p.ID=vp.IDPLATO
GO
/****** Object:  Table [dbo].[BEBIDA]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BEBIDA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMARCA] [bigint] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[PRECIO] [money] NOT NULL,
	[COPA] [bit] NOT NULL,
	[CANTIDAD] [int] NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDMARCA] ASC,
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_marca]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[View_marca]
as select b.NOMBRE as nombre_bebida, b.PRECIO,
b.ID, b.ESTADO,b.DESCRIPCION,b.COPA,b.CANTIDAD,m.NOMBRE as marca, m.ID as marcaid from BEBIDA as b
inner join MARCA as M on m.ID=b.IDMARCA
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[PUESTO] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[CONTRASENA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_mesero]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_mesero] as
SELECT id, nombre + ',' + apellido AS Nombre, puesto,dni,estado,usuario,contrasena 
FROM empleado 
GO
/****** Object:  Table [dbo].[MESA]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMESERO] [bigint] NOT NULL,
	[OCUPADO] [bit] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDMESERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_mesas]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_mesas] as
select m.id as idmesa, em.nombre +', '+ em.apellido as nom_ap , em.id as idemp,
m.estado,m.ocupado from mesa as m 
inner join empleado as em on m.idmesero=em.id
GO
/****** Object:  Table [dbo].[BEBIDASXPEDIDO]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BEBIDASXPEDIDO](
	[IDPEDIDO] [bigint] NOT NULL,
	[IDBEBIDA] [bigint] NOT NULL,
	[CANTIDAD] [bigint] NOT NULL,
	[estado] [bit] NULL,
	[Entregado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BEBIDA] ON 
GO
INSERT [dbo].[BEBIDA] ([ID], [IDMARCA], [NOMBRE], [DESCRIPCION], [PRECIO], [COPA], [CANTIDAD], [ESTADO]) VALUES (1, 5, N'AGUA SABORIZADA', N'BOTELLA DE 600ML', 60.0000, 0, 0, 0)
GO
INSERT [dbo].[BEBIDA] ([ID], [IDMARCA], [NOMBRE], [DESCRIPCION], [PRECIO], [COPA], [CANTIDAD], [ESTADO]) VALUES (2, 3, N'Gaseosa lima', N'LATA DE 250ML', 40.0000, 0, 50, 0)
GO
INSERT [dbo].[BEBIDA] ([ID], [IDMARCA], [NOMBRE], [DESCRIPCION], [PRECIO], [COPA], [CANTIDAD], [ESTADO]) VALUES (3, 1, N'GASEOSA NARANJA', N'BOTELLA DE 600ML', 645.0000, 0, 50, 1)
GO
SET IDENTITY_INSERT [dbo].[BEBIDA] OFF
GO
INSERT [dbo].[BEBIDASXPEDIDO] ([IDPEDIDO], [IDBEBIDA], [CANTIDAD], [estado], [Entregado]) VALUES (1, 5, 2, 1, 0)
GO
INSERT [dbo].[BEBIDASXPEDIDO] ([IDPEDIDO], [IDBEBIDA], [CANTIDAD], [estado], [Entregado]) VALUES (2, 5, 3, 1, 0)
GO
INSERT [dbo].[BEBIDASXPEDIDO] ([IDPEDIDO], [IDBEBIDA], [CANTIDAD], [estado], [Entregado]) VALUES (3, 6, 1, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] ON 
GO
INSERT [dbo].[EMPLEADO] ([ID], [NOMBRE], [APELLIDO], [PUESTO], [DNI], [ESTADO], [USUARIO], [CONTRASENA]) VALUES (1, N'santiago', N'barzola', N'administrativo', 40870363, 1, N'saney', N'1234')
GO
INSERT [dbo].[EMPLEADO] ([ID], [NOMBRE], [APELLIDO], [PUESTO], [DNI], [ESTADO], [USUARIO], [CONTRASENA]) VALUES (2, N'Patricia', N'Eymann', N'Mesero', 22675746, 0, N'patriEy', N'12345')
GO
INSERT [dbo].[EMPLEADO] ([ID], [NOMBRE], [APELLIDO], [PUESTO], [DNI], [ESTADO], [USUARIO], [CONTRASENA]) VALUES (4, N'Facundo', N'Gonzalez', N'Mesero', 4567879, 0, N'fafuf', N'0000')
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[MARCA] ON 
GO
INSERT [dbo].[MARCA] ([ID], [NOMBRE], [ESTADO]) VALUES (1, N'Villa del sur', 1)
GO
INSERT [dbo].[MARCA] ([ID], [NOMBRE], [ESTADO]) VALUES (2, N'Pepsi', 1)
GO
INSERT [dbo].[MARCA] ([ID], [NOMBRE], [ESTADO]) VALUES (3, N'Coca Cola', 1)
GO
SET IDENTITY_INSERT [dbo].[MARCA] OFF
GO
SET IDENTITY_INSERT [dbo].[MESA] ON 
GO
INSERT [dbo].[MESA] ([ID], [IDMESERO], [OCUPADO], [ESTADO]) VALUES (1, 5, 1, 1)
GO
INSERT [dbo].[MESA] ([ID], [IDMESERO], [OCUPADO], [ESTADO]) VALUES (2, 6, 1, 1)
GO
INSERT [dbo].[MESA] ([ID], [IDMESERO], [OCUPADO], [ESTADO]) VALUES (3, 6, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[MESA] OFF
GO
SET IDENTITY_INSERT [dbo].[PEDIDOS] ON 
GO
INSERT [dbo].[PEDIDOS] ([ID], [IDMESA]) VALUES (1, 2)
GO
INSERT [dbo].[PEDIDOS] ([ID], [IDMESA]) VALUES (2, 3)
GO
INSERT [dbo].[PEDIDOS] ([ID], [IDMESA]) VALUES (3, 4)
GO
SET IDENTITY_INSERT [dbo].[PEDIDOS] OFF
GO
SET IDENTITY_INSERT [dbo].[PLATO] ON 
GO
INSERT [dbo].[PLATO] ([ID], [NOMBRE], [DESCRIPCION], [TIPO], [PRECIO], [ESTADO]) VALUES (1, N'Panqueques', N'CON DULCE', 1, 50.0000, 0)
GO
INSERT [dbo].[PLATO] ([ID], [NOMBRE], [DESCRIPCION], [TIPO], [PRECIO], [ESTADO]) VALUES (2, N'Flan', N'CON DULCE DE LECHE O CREMA', 1, 110.0000, 1)
GO
INSERT [dbo].[PLATO] ([ID], [NOMBRE], [DESCRIPCION], [TIPO], [PRECIO], [ESTADO]) VALUES (3, N'Pizza de muzzarella', N'MUZZARELLA', 2, 280.0000, 1)
GO
SET IDENTITY_INSERT [dbo].[PLATO] OFF
GO
INSERT [dbo].[PLATOSXPED] ([IDPEDIDO], [IDPLATO], [CANTIDAD], [Entregado], [Estado]) VALUES (1, 3, 2, 0, 1)
GO
INSERT [dbo].[PLATOSXPED] ([IDPEDIDO], [IDPLATO], [CANTIDAD], [Entregado], [Estado]) VALUES (2, 5, 3, 0, 1)
GO
INSERT [dbo].[PLATOSXPED] ([IDPEDIDO], [IDPLATO], [CANTIDAD], [Entregado], [Estado]) VALUES (3, 6, 1, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[TIPO_PLATO] ON 
GO
INSERT [dbo].[TIPO_PLATO] ([ID], [NOMBRE], [estado]) VALUES (1, N'Postre', 1)
GO
INSERT [dbo].[TIPO_PLATO] ([ID], [NOMBRE], [estado]) VALUES (2, N'Principal', 1)
GO
INSERT [dbo].[TIPO_PLATO] ([ID], [NOMBRE], [estado]) VALUES (3, N'Entrada', 1)
GO
SET IDENTITY_INSERT [dbo].[TIPO_PLATO] OFF
GO
SET IDENTITY_INSERT [dbo].[VAJILLA] ON 
GO
INSERT [dbo].[VAJILLA] ([ID], [NOMBRE], [CANTIDAD], [ESTADO]) VALUES (10, N'Cuchillo', 21, 1)
GO
INSERT [dbo].[VAJILLA] ([ID], [NOMBRE], [CANTIDAD], [ESTADO]) VALUES (11, N'Cuchara', 100, 1)
GO
INSERT [dbo].[VAJILLA] ([ID], [NOMBRE], [CANTIDAD], [ESTADO]) VALUES (12, N'Tenedor', 4, 1)
GO
SET IDENTITY_INSERT [dbo].[VAJILLA] OFF
GO
INSERT [dbo].[VAJILLAXPLATO] ([IDVAJILLA], [IDPLATO]) VALUES (10, 3)
GO
INSERT [dbo].[VAJILLAXPLATO] ([IDVAJILLA], [IDPLATO]) VALUES (10, 6)
GO
INSERT [dbo].[VAJILLAXPLATO] ([IDVAJILLA], [IDPLATO]) VALUES (10, 10)
GO
/****** Object:  Index [UQ__BEBIDA__3214EC26E041C359]    Script Date: 12/06/2019 19:37:52 ******/
ALTER TABLE [dbo].[BEBIDA] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__EMPLEADO__C035B8DDBEE8EABD]    Script Date: 12/06/2019 19:37:52 ******/
ALTER TABLE [dbo].[EMPLEADO] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MARCA__3214EC2642843C03]    Script Date: 12/06/2019 19:37:52 ******/
ALTER TABLE [dbo].[MARCA] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MESA__3214EC2630F086C3]    Script Date: 12/06/2019 19:37:52 ******/
ALTER TABLE [dbo].[MESA] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PLATO__3214EC2607A8528A]    Script Date: 12/06/2019 19:37:52 ******/
ALTER TABLE [dbo].[PLATO] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VAJILLA__B21D0AB97585DCCB]    Script Date: 12/06/2019 19:37:52 ******/
ALTER TABLE [dbo].[VAJILLA] ADD UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TIPO_PLATO] ADD  DEFAULT ('') FOR [estado]
GO
ALTER TABLE [dbo].[BEBIDA]  WITH CHECK ADD  CONSTRAINT [FK_BEBIDA] FOREIGN KEY([IDMARCA])
REFERENCES [dbo].[MARCA] ([ID])
GO
ALTER TABLE [dbo].[BEBIDA] CHECK CONSTRAINT [FK_BEBIDA]
GO
ALTER TABLE [dbo].[BEBIDASXPEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_BEBIDASXPE] FOREIGN KEY([IDPEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID])
GO
ALTER TABLE [dbo].[BEBIDASXPEDIDO] CHECK CONSTRAINT [FK_BEBIDASXPE]
GO
ALTER TABLE [dbo].[BEBIDASXPEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_BEBIDASXPEDOS] FOREIGN KEY([IDBEBIDA])
REFERENCES [dbo].[BEBIDA] ([ID])
GO
ALTER TABLE [dbo].[BEBIDASXPEDIDO] CHECK CONSTRAINT [FK_BEBIDASXPEDOS]
GO
ALTER TABLE [dbo].[MESA]  WITH CHECK ADD  CONSTRAINT [FK_IDMESERO] FOREIGN KEY([IDMESERO])
REFERENCES [dbo].[EMPLEADO] ([ID])
GO
ALTER TABLE [dbo].[MESA] CHECK CONSTRAINT [FK_IDMESERO]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_IDMESA] FOREIGN KEY([IDMESA])
REFERENCES [dbo].[MESA] ([ID])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_IDMESA]
GO
ALTER TABLE [dbo].[PLATO]  WITH CHECK ADD  CONSTRAINT [FK_PLATO] FOREIGN KEY([TIPO])
REFERENCES [dbo].[TIPO_PLATO] ([ID])
GO
ALTER TABLE [dbo].[PLATO] CHECK CONSTRAINT [FK_PLATO]
GO
ALTER TABLE [dbo].[PLATOSXPED]  WITH CHECK ADD  CONSTRAINT [FK_PLATOXPED] FOREIGN KEY([IDPLATO])
REFERENCES [dbo].[PLATO] ([ID])
GO
ALTER TABLE [dbo].[PLATOSXPED] CHECK CONSTRAINT [FK_PLATOXPED]
GO
ALTER TABLE [dbo].[PLATOSXPED]  WITH CHECK ADD  CONSTRAINT [FK_PLAXPE] FOREIGN KEY([IDPEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID])
GO
ALTER TABLE [dbo].[PLATOSXPED] CHECK CONSTRAINT [FK_PLAXPE]
GO
ALTER TABLE [dbo].[VAJILLAXPLATO]  WITH CHECK ADD  CONSTRAINT [FK_VAJILLA] FOREIGN KEY([IDVAJILLA])
REFERENCES [dbo].[VAJILLA] ([ID])
GO
ALTER TABLE [dbo].[VAJILLAXPLATO] CHECK CONSTRAINT [FK_VAJILLA]
GO
ALTER TABLE [dbo].[VAJILLAXPLATO]  WITH CHECK ADD  CONSTRAINT [FK_VAXPLA] FOREIGN KEY([IDPLATO])
REFERENCES [dbo].[PLATO] ([ID])
GO
ALTER TABLE [dbo].[VAJILLAXPLATO] CHECK CONSTRAINT [FK_VAXPLA]
GO
/****** Object:  StoredProcedure [dbo].[bebidaxmesa]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[bebidaxmesa]
@idmesa bigint as

select p.id, b.NOMBRE,b.DESCRIPCION,b.PRECIO,bp.CANTIDAD,bp.Entregado  from pedidos as p
inner join BEBIDASXPEDIDO as bp on p.ID=bp.IDPEDIDO
inner join BEBIDA as b on b.ID=bp.IDBEBIDA
where p.idmesa=@idmesa and bp.estado=1
GO
/****** Object:  StoredProcedure [dbo].[platoxmesa]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[platoxmesa]
@idmesa bigint as

select p.id,pp.cantidad,pl.nombre,pl.descripcion,pl.precio,p.idmesa,pp.Entregado from pedidos as p
inner join platosxped as pp on p.id=pp.idpedido
inner join plato as pl on pl.id=pp.idplato
where p.idmesa=@idmesa and pp.estado=1
GO
/****** Object:  StoredProcedure [dbo].[sp_mesasXmesero]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_mesasXmesero]
@idmesero bigint  as 
select id,ocupado,estado from mesa where idmesero=@idmesero
GO
/****** Object:  StoredProcedure [dbo].[sp_platoXtipo]    Script Date: 12/06/2019 19:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_platoXtipo]
@idtipo bigint  as 
select id ,nombre as nombre,descripcion,precio from plato  as pl
where tipo=@idtipo and pl.estado=1
GO
USE [master]
GO
